.rectangle{
width:100%;
height:200px;
border-width:3px;
border-style:solid;
}

.smallrectangle{
width:20%;
height:200px;
border-width:3px;
border-style:solid;
}

.thinrect{
width:100%;
height:40px;
border-width:3px;
border-style:solid;
}